/* NEW STUFF */

/* SCREEN SIZE */
.main_height_controller {                                         height: 4930px; line-height: 4930px; }     /* Light blue - Portrait */
@media screen and (max-width: 1365px) { .main_height_controller { height: 4950px; line-height: 4950px; } }   /* Bright green - Landscape */
@media screen and (max-width: 1111px) { .main_height_controller { height: 5026px; line-height: 5026px; } }   /* Yellow - Portrait  */
@media screen and (max-width: 1023px) { .main_height_controller { height: 5190px; line-height: 5190px; } }   /* Blue - Portrait & Landscape  */
@media screen and (max-width:  833px) { .main_height_controller { height: 5176px; line-height: 5176px; } }   /* Bright red - Landscape */
@media screen and (max-width:  811px) { .main_height_controller { height: 5175px; line-height: 5175px; } }   /* Bright cyan - Landscape */
@media screen and (max-width:  767px) { .main_height_controller { height: 5180px; line-height: 5180px; } }   /* Red - Portrait  */
@media screen and (max-width:  735px) { .main_height_controller { height: 5300px; line-height: 5300px; } }   /* Deep gray - Landscape */
@media screen and (max-width:  666px) { .main_height_controller { height: 5440px; line-height: 5440px; } }   /* Bright blue - Landscape */
@media screen and (max-width:  567px) { .main_height_controller { height: 5536px; line-height: 5536px; } }   /* Light gray - Landscape */
@media screen and (max-width:  479px) { .main_height_controller { height: 5717px; line-height: 5717px; } }   /* Almost white - Landscape */
@media screen and (max-width:  413px) { .main_height_controller { height: 6090px; line-height: 6090px; } }   /* Light green - Portrait  */
@media screen and (max-width:  374px) { .main_height_controller { height: 6275px; line-height: 6275px; } }   /* Light yellow - Portrait  */
@media screen and (max-width:  319px) { .main_height_controller { height: 6550px; line-height: 6550px; } }   /* Light pink - Portrait  */

#rcorners4 {
	border-radius: 15px;
	padding: 2px; 
	height: 18px; 
    text-align: center;
}

.w3-theme {
	color:#fff !important;
	background-color:#73AD21 !important;
	background-color:#4CAF50 !important;
}

.button_indent {
    margin-left: 30px;
}

.style_game_link {
    font-family: 'Georgia', serif;
}

/* OLDSTUFF */

a.class1 {
    color: rgb(178, 23, 2);
}
a.class1:visited {
    color: rgb(178, 23, 2);
}
a.class1:hover {
    color: rgb(224, 133, 102);
    text-decoration: underline;
}
a.class2 {
    color: rgb(178, 23, 2);
}
a.class2:visited {
    color: rgb(178, 23, 2);
}
a.class2:hover {
    color: rgb(224, 133, 102);
    text-decoration: underline;
}
a.class3 {
    color: rgb(178, 23, 2);
}
a.class3:visited {
    color: rgb(178, 23, 2);
}
a.class3:hover {
    color: rgb(224, 133, 102);
    text-decoration: underline;
}

