/* NEW STUFF */

/* SCREEN SIZE */
.main_height_controller {                                         height: 4010px; line-height: 4010px; }     /* • Landscape */
@media screen and (max-width: 1365px) { .main_height_controller { height: 4120px; line-height: 4120px; } }   /* • Portrait */
@media screen and (max-width: 1111px) { .main_height_controller { height: 4100px; line-height: 4100px; } }   /* • Portrait & Landscape */
@media screen and (max-width: 1023px) { .main_height_controller { height: 4180px; line-height: 4180px; } }   /* • Landscape */
@media screen and (max-width:  833px) { .main_height_controller { height: 4220px; line-height: 4220px; } }   /* • Landscape */
@media screen and (max-width:  811px) { .main_height_controller { height: 4230px; line-height: 4230px; } }   /* • Portrait */
@media screen and (max-width:  767px) { .main_height_controller { height: 4270px; line-height: 4270px; } }   /* • Landscape */
@media screen and (max-width:  735px) { .main_height_controller { height: 4340px; line-height: 4340px; } }   /* • Landscape */
@media screen and (max-width:  666px) { .main_height_controller { height: 4450px; line-height: 4450px; } }   /* • Landscape */
@media screen and (max-width:  567px) { .main_height_controller { height: 4650px; line-height: 4650px; } }   /* • Landscape */
@media screen and (max-width:  479px) { .main_height_controller { height: 4840px; line-height: 4840px; } }   /* • Portrait */
@media screen and (max-width:  413px) { .main_height_controller { height: 4920px; line-height: 4920px; } }   /* • Portrait */
@media screen and (max-width:  374px) { .main_height_controller { height: 5130px; line-height: 5130px; } }   /* • Portrait */
@media screen and (max-width:  319px) { .main_height_controller { height: 5430px; line-height: 5430px; } }   /*  Narrow */

.style {
    padding: 4px;
}

