/* NEW STUFF */

/* SCREEN SIZE */
.main_height_controller {                                         height: 3780px; line-height: 3780px; }     /* Light blue - Portrait */
@media screen and (max-width: 1365px) { .main_height_controller { height: 3850px; line-height: 3850px; } }   /* Bright green - Landscape */
@media screen and (max-width: 1111px) { .main_height_controller { height: 3870px; line-height: 3870px; } }   /* Yellow - Portrait  */
@media screen and (max-width: 1023px) { .main_height_controller { height: 3950px; line-height: 3950px; } }   /* Blue - Portrait & Landscape  */
@media screen and (max-width:  833px) { .main_height_controller { height: 3980px; line-height: 3980px; } }   /* Bright red - Landscape */
@media screen and (max-width:  811px) { .main_height_controller { height: 4000px; line-height: 4000px; } }   /* Bright cyan - Landscape */
@media screen and (max-width:  767px) { .main_height_controller { height: 4040px; line-height: 4040px; } }   /* Red - Portrait  */
@media screen and (max-width:  735px) { .main_height_controller { height: 4120px; line-height: 4120px; } }   /* Deep gray - Landscape */
@media screen and (max-width:  666px) { .main_height_controller { height: 4230px; line-height: 4230px; } }   /* Bright blue - Landscape */
@media screen and (max-width:  567px) { .main_height_controller { height: 4420px; line-height: 4420px; } }   /* Light gray - Landscape */
@media screen and (max-width:  479px) { .main_height_controller { height: 4590px; line-height: 4590px; } }   /* Almost white - Landscape */
@media screen and (max-width:  413px) { .main_height_controller { height: 4690px; line-height: 4690px; } }   /* Light green - Portrait  */
@media screen and (max-width:  374px) { .main_height_controller { height: 4900px; line-height: 4900px; } }   /* Light yellow - Portrait  */
@media screen and (max-width:  319px) { .main_height_controller { height: 4950px; line-height: 4950px; } }   /* Light pink - Portrait  */

.style {
    padding: 4px;
}

