/* NEW STUFF */

/* SCREEN SIZE */
.main_height_controller {                                         height: 3280px; line-height: 3280px; }     /* Light blue - Portrait */
@media screen and (max-width: 1365px) { .main_height_controller { height: 3380px; line-height: 3380px; } }   /* Bright green - Landscape */
@media screen and (max-width: 1111px) { .main_height_controller { height: 3460px; line-height: 3460px; } }   /* Yellow - Portrait  */
@media screen and (max-width: 1023px) { .main_height_controller { height: 3630px; line-height: 3630px; } }   /* Blue - Portrait & Landscape  */
@media screen and (max-width:  833px) { .main_height_controller { height: 3650px; line-height: 3650px; } }   /* Bright red - Landscape */
@media screen and (max-width:  811px) { .main_height_controller { height: 3690px; line-height: 3690px; } }   /* Bright cyan - Landscape */
@media screen and (max-width:  767px) { .main_height_controller { height: 3710px; line-height: 3710px; } }   /* Red - Portrait  */
@media screen and (max-width:  735px) { .main_height_controller { height: 3830px; line-height: 3830px; } }   /* Deep gray - Landscape */
@media screen and (max-width:  666px) { .main_height_controller { height: 3940px; line-height: 3940px; } }   /* Bright blue - Landscape */
@media screen and (max-width:  567px) { .main_height_controller { height: 4180px; line-height: 4180px; } }   /* Light gray - Landscape */
@media screen and (max-width:  479px) { .main_height_controller { height: 4400px; line-height: 4400px; } }   /* Almost white - Landscape */
@media screen and (max-width:  413px) { .main_height_controller { height: 4570px; line-height: 4570px; } }   /* Light green - Portrait  */
@media screen and (max-width:  374px) { .main_height_controller { height: 4850px; line-height: 4850px; } }   /* Light yellow - Portrait  */
@media screen and (max-width:  319px) { .main_height_controller { height: 5050px; line-height: 5050px; } }   /* Light pink - Portrait  */

/* OLD STUFF */

.style {
    padding: 4px;
}

