/* NEW STUFF */

/* FORMATTING FOR TOP QUOTE AND MAX SCREEN SIZE*/
/* 1 line plus name */
.main_height_controller {
	height: 3910px;
	line-height: 3910px;
}

/* 2 lines plus name */
@media screen and (max-width: 695px) {
	.main_height_controller {
		height: 4110px;
		line-height: 4110px;
	}
}

/* 3 lines plus name */
@media screen and (max-width: 435px) {
	.main_height_controller {
		height: 4310px;
		line-height: 4310px;
	}
}

/* 4 lines plus name */
@media screen and (max-width: 350px) {
	.main_height_controller {
		height: 4450px;
		line-height: 4450px;
	}
}

/* OLD STUFF */

.style {
    padding: 4px;
}

