/* NEW STUFF */

/* FORMATTING FOR TOP QUOTE AND MAX SCREEN SIZE*/
/* 1 line plus name */
.main_height_controller {
	height: 3710px;
	line-height: 3710px;
	background: rgb(220, 256, 256);
}

/* 2 lines plus name */
@media screen and (max-width: 695px) {
	.main_height_controller {
		height: 3870px;
		line-height: 3870px;
		background: rgb(256, 220, 256);
	}
}

/* 3 lines plus name */
@media screen and (max-width: 435px) {
	.main_height_controller {
		height: 3980px;
		line-height: 3980px;
		background: rgb(256, 256, 220);
	}
}

/* 4 lines plus name */
@media screen and (max-width: 350px) {
	.main_height_controller {
		height: 4060px;
		line-height: 4060px;
		background: rgb(220, 220, 220);
	}
}

/* Basic Styler */


/* OLD STUFF */

.style {
    padding: 4px;
}

