/* NEW STUFF */

/* SCREEN SIZE */
.main_height_controller {                                         height: 2250px; line-height: 2250px; }
@media screen and (max-width: 1367px) { .main_height_controller { height: 2390px; line-height: 2390px; } }   /* • Landscape */
@media screen and (max-width: 1113px) { .main_height_controller { height: 2450px; line-height: 2450px; } }   /* • Portrait */
@media screen and (max-width: 1025px) { .main_height_controller { height: 2730px; line-height: 2730px; } }   /* • Portrait & Landscape */
@media screen and (max-width:  835px) { .main_height_controller { height: 2770px; line-height: 2770px; } }   /* • Landscape */
@media screen and (max-width:  813px) { .main_height_controller { height: 2820px; line-height: 2820px; } }   /* • Landscape */
@media screen and (max-width:  769px) { .main_height_controller { height: 2840px; line-height: 2840px; } }   /* • Portrait */
@media screen and (max-width:  737px) { .main_height_controller { height: 3010px; line-height: 3010px; } }   /* • Landscape */
@media screen and (max-width:  668px) { .main_height_controller { height: 3360px; line-height: 3360px; } }   /* • Landscape */
@media screen and (max-width:  569px) { .main_height_controller { height: 3720px; line-height: 3720px; } }   /* • Landscape */
@media screen and (max-width:  481px) { .main_height_controller { height: 4120px; line-height: 4120px; } }   /* • Landscape */
@media screen and (max-width:  415px) { .main_height_controller { height: 4450px; line-height: 4450px; } }   /* • Portrait */
@media screen and (max-width:  376px) { .main_height_controller { height: 5130px; line-height: 5130px; } }   /* • Portrait */
@media screen and (max-width:  321px) { .main_height_controller { height: 6050px; line-height: 6050px; } }   /* • Portrait */

/* Basic Styler */

.style_section_title {
    color: rgb(0, 0, 0);
    font-family: 'Times-Bold', 'Times', 'Times New Roman', serif;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 23px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 10px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}

.style_subsection_title {
    color: rgb(0, 0, 0);
    font-family: 'Times-Bold', 'Times', 'Times New Roman', serif;
    font-size: 1.4em;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 1.0em;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 4px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}

.style_minorsection_title {
    color: rgb(0, 0, 0);
    font-family: 'Times-Bold', 'Times', 'Times New Roman', serif;
    font-size: 1.3em;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 1.0em;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 4px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}

ul.style_bullet_title {
    color: rgb(0, 0, 0);
    font-family: 'Georgia', serif;
    font-size: 1.4em;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.0em;
    opacity: 1.00;
    text-decoration: none;
    text-transform: none;
    /* HAH */
    margin-bottom: 10px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-left: 22px;
		list-style-type: circle;
}

.style_indented_definition {
}



/* OLD STUFF */

.style {
    padding: 4px;
}
.paragraph_style_2 {
    color: rgb(255, 0, 0);
    font-family: 'Times-Bold', 'Times', 'Times New Roman', serif;
    font-size: 2.0em;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 1.0em;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 12px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_bold_word {
    font-family: 'Times-Bold', 'Times', 'Times New Roman', serif;
}
.style_link {
    line-height: 14px;
}

