/* NEW STUFF */

/* FORMATTING FOR TOP QUOTE AND MAX SCREEN SIZE*/
/* 1 line plus name */
.main_height_controller {
	height: 2880px;
	line-height: 2880px;
}

/* 2 lines plus name */
@media screen and (max-width: 695px) {
	.main_height_controller {
		height: 3920px;
		line-height: 3920px;
	}
}

/* 3 lines plus name */
@media screen and (max-width: 435px) {
	.main_height_controller {
		height: 4520px;
		line-height: 4520px;
	}
}

/* 4 lines plus name */
@media screen and (max-width: 350px) {
	.main_height_controller {
		height: 5880px;
		line-height: 5880px;
	}
}

/* Basic Styler */

.style_section_title {
    color: rgb(0, 0, 0);
    font-family: 'Times-Bold', 'Times', 'Times New Roman', serif;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 23px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 10px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}

.style_subsection_title {
    color: rgb(0, 0, 0);
    font-family: 'Times-Bold', 'Times', 'Times New Roman', serif;
    font-size: 1.4em;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 1.0em;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 4px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}

.style_minorsection_title {
    color: rgb(0, 0, 0);
    font-family: 'Times-Bold', 'Times', 'Times New Roman', serif;
    font-size: 1.3em;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 1.0em;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 4px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}

ul.style_bullet_title {
    color: rgb(0, 0, 0);
    font-family: 'Georgia', serif;
    font-size: 1.4em;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.0em;
    opacity: 1.00;
    text-decoration: none;
    text-transform: none;
    /* HAH */
    margin-bottom: 10px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-left: 22px;
		list-style-type: circle;
}

.style_indented_definition {
}



/* OLD STUFF */

.style {
    padding: 4px;
}
.paragraph_style_2 {
    color: rgb(255, 0, 0);
    font-family: 'Times-Bold', 'Times', 'Times New Roman', serif;
    font-size: 2.0em;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 1.0em;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 12px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_bold_word {
    font-family: 'Times-Bold', 'Times', 'Times New Roman', serif;
}
.style_link {
    line-height: 14px;
}

