/* NEW STUFF */

/* SCREEN SIZE */
.main_height_controller {                                         height: 400px; line-height: 400px; }     /* • Landscape */
@media screen and (max-width: 1365px) { .main_height_controller { height: 420px; line-height: 420px } }   /* • Portrait */
@media screen and (max-width: 1111px) { .main_height_controller { height: 430px; line-height: 430px; } }   /* • Portrait & Landscape */
@media screen and (max-width: 1023px) { .main_height_controller { height: 450px; line-height: 450px; } }   /* • Landscape */
@media screen and (max-width:  833px) { .main_height_controller { height: 450px; line-height: 450px; } }   /* • Landscape */
@media screen and (max-width:  811px) { .main_height_controller { height: 450px; line-height: 450px; } }   /* • Portrait */
@media screen and (max-width:  767px) { .main_height_controller { height: 450px; line-height: 450px; } }   /* • Landscape */
@media screen and (max-width:  735px) { .main_height_controller { height: 460px; line-height: 460px; } }   /* • Landscape */
@media screen and (max-width:  666px) { .main_height_controller { height: 500px; line-height: 500px; } }   /* • Landscape */
@media screen and (max-width:  567px) { .main_height_controller { height: 520px; line-height: 520px; } }   /* • Landscape */
@media screen and (max-width:  479px) { .main_height_controller { height: 580px; line-height: 580px; } }   /* • Portrait */
@media screen and (max-width:  413px) { .main_height_controller { height: 620px; line-height: 620px; } }   /* • Portrait */
@media screen and (max-width:  374px) { .main_height_controller { height: 640px; line-height: 640px; } }   /* • Portrait */
@media screen and (max-width:  319px) { .main_height_controller { height: 870px; line-height: 870px; } }   /* • Narrow */

/* OLD STUFF */

.style {
    padding: 4px;
}

