/* GENERAL */

/* Default for computer screen */
html { font-size: 12px; }
body { font-size: 12px; }

@viewport {
  width: device-width ;
  zoom: 1.0 ;
}

.style {
    padding: 4px;
}

/* BODY */
body { 
    -webkit-text-size-adjust: none;
}

.body_class {
	background: rgb(101, 101, 101);
	margin: 0pt;
}

.body_div_class_A {
	text-align: center;
}

.body_div_class_B {
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	overflow: hidden;
	position: relative;
	word-wrap: break-word;
	background: rgb(255, 255, 255);
	text-align: left;
	width: 700px;
}

/* div */

div { 
    overflow: visible; 
}

/* img */

img { 
    border: none; 
    width:100%;
    height: auto;
}


/* SCREEN SIZE */


/* FONT */

.style_findaword {
    font-family: 'Noteworthy', 'Tekton Pro', 'Casual', 'Bradley Hand', 'Papyrus', 'Helvetica', sans-serif;
}

/* BULLET */

ul {
  list-style-type: circle;
  margin: 5px;
  padding: 5px;
}

ul.style_bullet {
    color: rgb(0, 0, 0);
    font-family: 'Georgia', serif;
    font-size: 1.5em;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.2em;
    opacity: 1.00;
    text-decoration: none;
    text-transform: none;
    /* HAH */
    margin-bottom: 10px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-left: 22px;
}

/* HEADER */

.header_style {
    color: rgb(0, 0, 0);
    font-family: 'AmericanTypewriter', 'American Typewriter', 'Courier', serif;
    font-size: 2.5em;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.5;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-shadow: 3px 3px 10px rgb(0, 0, 0);
    text-transform: none;
    /* ADDED */
    padding-bottom: 0pt;
    padding-top: 0pt;
}

/* BUTTONS */

.button_style {
    color: rgb(113, 113, 113);
    font-family: 'Georgia', serif;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
    /* ADDED */
    position: relative;
    float: none;
    margin: 0px;
    /* FROM tinyText */
    font-size: 1px;
    line-height: 1px;
    /* FROM inline_block */
    display: inline-block;
    vertical-align: baseline;
    margin-bottom:0.3em;
    /* FROM button specifications */
    height: 30px;
    width: 150px;
}

/* Main Buttons on Every Page */
.button_main {
    position: absolute;
    top: 2px;
    left: 6px;
    height: 38px;
    width: 158px;
}

/* Selected Button - Inactive */
.button_inactive {
    position: absolute;
    top: 2px;
    left: 6px;
    height: 38px;
    width: 158px;
}

/* IMAGES */

.img_style {
    /* FROM all but Welcome button specifications */
    border: none;
    height: 38px;
    left: -4px;
    top: -3px;
    width: 158px;
    z-index: 1;
}
/* STYLES */

.style_findaword {
    font-family: 'Noteworthy', 'Tekton Pro', 'Casual', 'Bradley Hand', 'Papyrus', 'Helvetica', sans-serif;
}

.style_SkipStroke {
    background: transparent;
    opacity: 1.00;
}

.inline-block.shape-with-text {
    vertical-align: bottom;
}

.style_pad_0 {
    padding: 0px;
}

.title_style {
    color: rgb(80, 120, 256);
    font-family: 'AmericanTypewriter', 'American Typewriter', 'Courier', serif;
    font-size: 2.0em;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 1.0em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0px;
    margin-right: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
    text-shadow: 4px 2px 25px rgb(200, 100, 100);
}

.style_standard_paragraph {
    color: rgb(0, 0, 0);
    font-family: 'Georgia', serif;
    font-size: 1.5em;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.1em;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 10px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 6px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}

.style_inset_note {
    color: rgb(0, 0, 0);
    font-family: 'Georgia', serif;
    font-size: 1.1em;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.1em;
    margin-bottom: 0px;
    margin-left: 30px;
    margin-right: 60px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 6px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}

.style_wrap_up {
    color: rgb(80, 120, 256);
    font-family: 'AmericanTypewriter', 'American Typewriter', 'Courier', serif;
    font-size: 2.0em;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.1em;
    margin-top: 1.5em;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 10px;
    opacity: 1.00;
    padding-bottom: 6px;
    padding-top: 0px;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}

.style_A {
    color: rgb(0, 0, 0);
    font-family: 'Georgia', serif;
    font-size: 1.1em;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.2;
    opacity: 1.00;
    text-decoration: none;
    text-transform: none;
    margin-bottom: 4px;
}

.style_B {
    bottom: 0px;
    position: relative;
    width: 100%;
}

.style_bold {
    color: rgb(0, 0, 0);
    font-family: 'Georgia-Bold', 'Georgia', serif;
}

.style_center_images {
    text-align: center;
    padding-bottom: 6px;
}

.style_indentation_first {
    padding-bottom: 0px;
    margin-bottom: 2px;
}

.style_indentation_last {
    padding-top: 0px;
    margin-top: 0px;
}

ol { 
      padding:0;
      margin:0;
      text-indent:0;
      list-style-type:none ;
      list-style-image:none
}

/* Highlight text by showing purply. */
span.highlight {
    color: rgb(144, 51, 175);
}

/* Bold and red text. */
.bold_red {
    color: rgb(155, 0, 0);
    font-weight: 1400;
}

/* Bold and green text. */
.bold_green {
    color: rgb(0, 155, 0);
    font-family: 'AmericanTypewriter', 'American Typewriter', 'Courier', serif;
    font-size: 1.5em;
}

.bold_green_regular {
    color: rgb(0, 155, 0);
    font-family: 'AmericanTypewriter', 'American Typewriter', 'Courier', serif;
}

.bumper {
    font-size: 1px;
    line-height: 1px;
}

.tinyText {
    font-size: 1px;
    line-height: 1px;
}

.InlineBlock { 
    display: inline; 
}
.InlineBlock { 
    display: inline-block; 
}
.inline-block {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0.3em;
}

/* GamesKeys special styles */

.style_gameskeys {
    color: rgb(0, 0, 0);
    font-family: 'Helvetica', sans-serif;
    font-size: 1.1em;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.1em;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 6px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}

.style_gameskeys_red {
    color: rgb(178, 0, 0);
}

.style_gameskeys_black {
    color: rgb(0, 0, 0);
}

/* Actions */

a {
    color: rgb(183, 97, 78);
    text-decoration: none;
}
a:visited {
    color: rgb(66, 66, 66);
    text-decoration: none;
}
a:hover {
    color: rgb(224, 133, 102);
    text-decoration: underline;
}

#widget0 a:hover {
    color: rgb(224, 133, 102);
    text-decoration: underline;
}

#widget0 a:visited {
    color: rgb(66, 66, 66);
    text-decoration: none;
}

#widget0 a {
    color: rgb(183, 97, 78);
    text-decoration: none;
}

/* BUTTONS FROM W3 */

.w3-left-align{text-align:left!important}
.w3-right-align{text-align:right!important}
.w3-justify{text-align:justify!important}
.w3-center{text-align:center!important}
.w3-left{float:left!important}
.w3-right{float:right!important}
.w3-light-grey,.w3-hover-light-grey:hover,.w3-light-gray,.w3-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.w3-green,.w3-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}

/* .w3-button */
.w3-button:hover{color:#000!important;background-color:#ccc!important}
.w3-btn,.w3-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.w3-btn,.w3-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.w3-disabled,.w3-btn:disabled,.w3-button:disabled{cursor:not-allowed;opacity:0.3}.w3-disabled *,:disabled *{pointer-events:none}
.w3-dropdown-hover:hover > .w3-button:first-child,.w3-dropdown-click:hover > .w3-button:first-child{background-color:#ccc;color:#000}
.w3-bar-block .w3-dropdown-hover .w3-button,.w3-bar-block .w3-dropdown-click .w3-button{width:100%;text-align:left;padding:8px 16px}
.w3-bar .w3-button{white-space:normal}
.w3-dropdown-hover.w3-mobile,.w3-dropdown-hover.w3-mobile .w3-btn,.w3-dropdown-hover.w3-mobile .w3-button,.w3-dropdown-click.w3-mobile,.w3-dropdown-click.w3-mobile .w3-btn,.w3-dropdown-click.w3-mobile .w3-button{width:100%}}
.w3-button:hover{color:#000!important;background-color:#ccc!important}

/* DEBUGGING */

/* Screen Size Detection Color Fitting */

// .main_height_controller {                                         background: rgb(220, 255, 255); }     /* Light blue - Portrait */
// @media screen and (max-width: 1367px) { .main_height_controller { background: rgb(  0, 255, 255); } }   /* Bright green - Landscape */
// @media screen and (max-width: 1113px) { .main_height_controller { background: rgb(255, 255,   0); } }   /* Yellow - Portrait  */
// @media screen and (max-width: 1025px) { .main_height_controller { background: rgb(160, 190, 255); } }   /* Blue - Portrait & Landscape  */
// @media screen and (max-width:  835px) { .main_height_controller { background: rgb(255,   0,   0); } }   /* Bright red - Landscape */
// @media screen and (max-width:  813px) { .main_height_controller { background: rgb(255,   0, 255); } }   /* Bright cyan - Landscape */
// @media screen and (max-width:  769px) { .main_height_controller { background: rgb(255, 160, 160); } }   /* Red - Portrait  */
// @media screen and (max-width:  737px) { .main_height_controller { background: rgb(122, 122, 122); } }   /* Deep gray - Landscape */
// @media screen and (max-width:  668px) { .main_height_controller { background: rgb(  0,   0, 255); } }   /* Bright blue - Landscape */
// @media screen and (max-width:  569px) { .main_height_controller { background: rgb(200, 200, 200); } }   /* Light gray - Landscape */
// @media screen and (max-width:  481px) { .main_height_controller { background: rgb(240, 240, 240); } }   /* Almost white - Landscape */
// @media screen and (max-width:  415px) { .main_height_controller { background: rgb(220, 255, 220); } }   /* Light green - Portrait  */
// @media screen and (max-width:  376px) { .main_height_controller { background: rgb(255, 255, 220); } }   /* Light yellow - Portrait  */
// @media screen and (max-width:  321px) { .main_height_controller { background: rgb(255, 220, 255); } }   /* Light pink - Portrait  */















