/* NEW STUFF */

/* SCREEN SIZE */
.main_height_controller {                                         height: 390px; line-height: 390px; }
@media screen and (max-width: 1367px) { .main_height_controller { height: 400px; line-height: 400px; } }   /* • Landscape */
@media screen and (max-width: 1113px) { .main_height_controller { height: 410px; line-height: 4100px; } }   /*  Portrait */
@media screen and (max-width: 1025px) { .main_height_controller { height: 420px; line-height: 420px; } }   /* • Portrait & Landscape */
@media screen and (max-width:  835px) { .main_height_controller { height: 430px; line-height: 430px; } }   /* • Landscape */
@media screen and (max-width:  813px) { .main_height_controller { height: 430px; line-height: 430px; } }   /* • Landscape */
@media screen and (max-width:  769px) { .main_height_controller { height: 440px; line-height: 440px; } }   /* • Portrait */
@media screen and (max-width:  737px) { .main_height_controller { height: 440px; line-height: 440px; } }   /* • Landscape */
@media screen and (max-width:  668px) { .main_height_controller { height: 450px; line-height: 450px; } }   /* • Landscape */
@media screen and (max-width:  569px) { .main_height_controller { height: 480px; line-height: 480px; } }   /* • Landscape */
@media screen and (max-width:  481px) { .main_height_controller { height: 500px; line-height: 500px; } }   /* • Landscape */
@media screen and (max-width:  415px) { .main_height_controller { height: 560px; line-height: 560px; } }   /* • Portrait */
@media screen and (max-width:  376px) { .main_height_controller { height: 600px; line-height: 600px; } }   /* • Portrait */
@media screen and (max-width:  321px) { .main_height_controller { height: 600px; line-height: 600px; } }   /* • Portrait */

/* OLD STUFF */

.style {
    padding: 4px;
}

