/* NEW STUFF */

/* SCREEN SIZE */
.main_height_controller {                                         height: 4450px; line-height: 4450px; }
@media screen and (max-width: 1367px) { .main_height_controller { height: 4490px; line-height: 4490px; } }   /* • Landscape */
@media screen and (max-width: 1113px) { .main_height_controller { height: 4560px; line-height: 4560px; } }   /* • Portrait */
@media screen and (max-width: 1025px) { .main_height_controller { height: 4720px; line-height: 4720px; } }   /* • Portrait & Landscape */
@media screen and (max-width:  835px) { .main_height_controller { height: 4730px; line-height: 4730px; } }   /* • Landscape */
@media screen and (max-width:  813px) { .main_height_controller { height: 4740px; line-height: 4740px; } }   /* • Landscape */
@media screen and (max-width:  769px) { .main_height_controller { height: 4740px; line-height: 4740px; } }   /* • Portrait */
@media screen and (max-width:  737px) { .main_height_controller { height: 4820px; line-height: 4820px; } }   /* • Landscape */
@media screen and (max-width:  668px) { .main_height_controller { height: 4950px; line-height: 4950px; } }   /* • Landscape */
@media screen and (max-width:  569px) { .main_height_controller { height: 5040px; line-height: 5040px; } }   /* • Landscape */
@media screen and (max-width:  481px) { .main_height_controller { height: 5250px; line-height: 5250px; } }   /* • Landscape */
@media screen and (max-width:  415px) { .main_height_controller { height: 5570px; line-height: 5570px; } }   /* • Portrait */
@media screen and (max-width:  376px) { .main_height_controller { height: 5770px; line-height: 5770px; } }   /* • Portrait */
@media screen and (max-width:  321px) { .main_height_controller { height: 6020px; line-height: 6020px; } }   /* • Portrait */

#rcorners4 {
	border-radius: 15px;
	padding: 2px; 
	height: 18px; 
    text-align: center;
}

.w3-theme {
	color:#fff !important;
	background-color:#73AD21 !important;
	background-color:#4CAF50 !important;
}

.button_indent {
    margin-left: 30px;
}

.style_game_link {
    font-family: 'Georgia', serif;
}

/* OLDSTUFF */

a.class1 {
    color: rgb(178, 23, 2);
}
a.class1:visited {
    color: rgb(178, 23, 2);
}
a.class1:hover {
    color: rgb(224, 133, 102);
    text-decoration: underline;
}
a.class2 {
    color: rgb(178, 23, 2);
}
a.class2:visited {
    color: rgb(178, 23, 2);
}
a.class2:hover {
    color: rgb(224, 133, 102);
    text-decoration: underline;
}
a.class3 {
    color: rgb(178, 23, 2);
}
a.class3:visited {
    color: rgb(178, 23, 2);
}
a.class3:hover {
    color: rgb(224, 133, 102);
    text-decoration: underline;
}

