/* NEW STUFF */

/* FORMATTING FOR TOP QUOTE AND MAX SCREEN SIZE*/
/* 1 line plus name */
.main_height_controller {
	height: 4500px;
	line-height: 4500px;
	/* background: rgb(220, 256, 256); */
}

/* 2 lines plus name */
@media screen and (max-width: 695px) {
	.main_height_controller {
		height: 4800px;
		line-height: 4800px;
		/* background: rgb(256, 220, 256); */
	}
}

/* 3 lines plus name */
@media screen and (max-width: 435px) {
	.main_height_controller {
		height: 5110px;
		line-height: 5110px;
		/* background: rgb(256, 256, 220); */
	}
}

/* 4 lines plus name */
@media screen and (max-width: 350px) {
	.main_height_controller {
		height: 5380px;
		line-height: 5380px;
		/* background: rgb(220, 220, 220); */
	}
}

#rcorners4 {
	border-radius: 15px;
	padding: 2px; 
	height: 18px; 
    text-align: center;
}

.w3-theme {
	color:#fff !important;
	background-color:#73AD21 !important;
	background-color:#4CAF50 !important;
}

.button_indent {
    margin-left: 30px;
}

.style_game_link {
    font-family: 'Georgia', serif;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 16px;
    text-decoration: none;
    text-transform: none;
}

/* OLDSTUFF */

a.class1 {
    color: rgb(178, 23, 2);
}
a.class1:visited {
    color: rgb(178, 23, 2);
}
a.class1:hover {
    color: rgb(224, 133, 102);
    text-decoration: underline;
}
a.class2 {
    color: rgb(178, 23, 2);
}
a.class2:visited {
    color: rgb(178, 23, 2);
}
a.class2:hover {
    color: rgb(224, 133, 102);
    text-decoration: underline;
}
a.class3 {
    color: rgb(178, 23, 2);
}
a.class3:visited {
    color: rgb(178, 23, 2);
}
a.class3:hover {
    color: rgb(224, 133, 102);
    text-decoration: underline;
}

