/* NEW STUFF */

/* FORMATTING FOR TOP QUOTE AND MAX SCREEN SIZE*/
/* 1 line plus name */
.main_height_controller {
	height: 2880px;
	line-height: 2880px;
}

/* 2 lines plus name */
@media screen and (max-width: 695px) {
	.main_height_controller {
		height: 2980px;
		line-height: 2980px;
	}
}

/* 3 lines plus name */
@media screen and (max-width: 435px) {
	.main_height_controller {
		height: 3000px;
		line-height: 3000px;
	}
}

/* 4 lines plus name */
@media screen and (max-width: 350px) {
	.main_height_controller {
		height: 3000px;
		line-height: 3000px;
	}
}

/* Basic Styler */


/* OLD STUFF */

.style {
    padding: 4px;
}

